[Unit]
Description=DNS caching server.
Before=nss-lookup.target
Wants=nss-lookup.target
After=network.target
; Use bind-dynamic or uncomment following to listen on non-local IP address
;After=network-online.target

[Service]
ExecStart=/usr/sbin/dnsmasq --conf-file=/etc/dnsmasq.d/%i.conf
Type=forking
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
